<!DOCTYPE html>
<html
      xmlns="https://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:pages="https://www.w3.org/1999/xhtml">
<head>
<title>Charts page</title>
<!--<link rel="stylesheet" href="css/main.css" th:href="@{/css/main.css}" />-->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8;width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css"/>
    <script th:inline="javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Raleway:400,300,600" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/normalize/4.0.0/normalize.min.css" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css" />
    <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css"/>
    <link href="../../resources/static/css/w3.css" th:href="@{/css/w3.css}" rel="stylesheet" media="screen" />

    <script src="http://canvasjs.com/assets/script/canvasjs.min.js"></script>
    <script th:inline="javascript" src="../static/js/canvasjs.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.4/Chart.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/canvasjs/1.7.0/canvasjs.min.js"></script>
      <script th:inline="javascript"  src="https://cdnjs.cloudflare.com/ajax/libs/canvasjs/1.7.0/canvasjs.min.js"></script>

    <link type="text/css" rel="stylesheet" href="/static/css/w3.css" th:hrer="@{/static/css/w3.css}"/>


    <link href="webjars/chartjs/1.0.2/Chart.min.js"/>
    <link rel="stylesheet" href="webjars/bootstrap/3.3.4/css/bootstrap.min.css"/>
    <script type="text/javascript" src="webjars/chartjs/1.0.2/Chart.min.js"></script>
    <script type="text/javascript" src="webjars/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/canvasjs/1.7.0/canvasjs.min.js"></script>

    <link href="../../resources/static/css/w3.css" th:href="@{/css/w3.css}" rel="stylesheet" media="screen" />

    <style>
    body {
        padding-top: 8%;
    }
    @media (max-width: 979px) {
        body {
            padding-top: 0px;
        }
    }
</style>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js"></script>
    <script  type="text/javascript" th:inline="javascript">
        window.onload=function () {
            var statAll = [[${statall}]];
            var inprocessstatus = [[${inprocessstatus}]];
            var donestatus = [[${donestatus}]];
            var startedstatus = [[${startedstatus}]];
            var mediumpriority = [[${mediumpriority}]];
            var lowpriority = [[${lowpriority}]];
            var highpriority = [[${highpriority}]];
            var memail = [[${memail}]];
            var javadevmail = [[${javadevmail}]];
            var teamleadmail = [[${teamleadmail}]];
            var pmmail = [[${pmmail}]];
            var testerqa = [[${testerqa}]];

            processStatusCharts();
            taskPriorityChart();
            taskEmailChart();
        }
    </script>


<!--     <script type="text/javascript" th:inline="javascript">


        function processStatusCharts() {
            var chart = new CanvasJS.Chart("chartContainer", {
                theme: "theme3",//theme1
                title:{
                    text: "TASK PROCESSES CHART"
                },
                animationEnabled: true,   // change to true
                data: [
                    {
                        // Change type to "bar", "area", "spline", "pie",'column'etc.
                        type: "bar",
                        dataPoints: [
                            { label: "ALL TASKS",  y: statAll },
                            { label: "TASKS IN PROCESS", y: inprocessstatus  },
                            { label: "COMPLETED STATUS TASKS", y: donestatus  },
                            { label: "STARTED STATUS TASKS",  y: startedstatus  }

                        ]
                    }
                ]
            });
            chart.render();
        }

    </script>
    <script type="text/javascript" th:inline="javascript">




        function taskPriorityChart() {
            var chart = new CanvasJS.Chart("chartContainer2", {
                theme: "theme3",//theme1
                title:{
                    text: "TASK PRIORIRTIES CHART"
                },
                animationEnabled: true,   // change to true
                data: [
                    {
                        // Change type to "bar", "area", "spline", "pie",'column'etc.
                        type: "area",
                        dataPoints: [
                            { label: "ALL TASKS",  y: statAll },
                            { label: "LOW PRIORITY TASKS",  y: lowpriority  },
                            {label:"HIGH PRIORITY TASKS",y:highpriority},
                            {label:"MEDIUM PRIORITY TASKS",y:mediumpriority}
                        ]
                    }
                ]
            });
            chart.render();
        }

    </script>
    <script type="text/javascript" th:inline="javascript">




        function taskEmailChart() {
            var chart = new CanvasJS.Chart("chartContainer3", {
                theme: "theme3",//theme1
                title:{
                    text: "ASSIGNED TASKS BY EMAIL"
                },
                animationEnabled: true,   // change to true
                data: [
                    {
                        // Change type to "bar", "area", "spline", "pie",'column'etc.
                        type: "column",
                        dataPoints: [
                            { label: "ALL TASKS",  y: statAll },
                            { label: "MY TASKS",  y: memail  },
                            {label:"JAVA DEVELOPER TASKS",y:javadevmail},
                            {label:"TEAM LEAD TASKS",y:teamleadmail},
                            {label:"PROJECT MANAGER TASKS",y:pmmail},
                            {label:"QA TESTER TASKS",y:testerqa}

                        ]
                    }
                ]
            });
            chart.render();
        }

    </script>
 -->
</head>
<body>
<!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->


<div class=" w3-row w3-card  " style="margin: 1%">
    <div class="w3-half w3-card w3-hover-shadow" id="chartContainer" style="height: 200px; width: 50%;"></div>

    <div class="w3-half w3-card w3-hover-shadow " id="chartContainer2" style="height: 200px; width: 50%;"></div>


</div>
<div class="w3-row" style="margin: 1%">
    <div class="w3-card w3-hover-shadow" id="chartContainer3" style="height: 250px; width: 100%;"></div>

</div>


<!--<canvas id="c33" width="400" height="500"></canvas>-->
<!--<div class="container">-->
<!--<div>-->
<!--<canvas id="radar"></canvas>-->
<!--</div>-->
<!--</div>-->
<!--<div class="container">-->
<!--<div>-->
<!--<canvas id="polar"></canvas>-->
<!--</div>-->
<!--</div>-->



<script type="text/javascript" th:inline="javascript">

    //    var statAll = [[${statall}]];
    //    var inprocessstatus = [[${inprocessstatus}]];
    //    var donestatus = [[${donestatus}]];
    //    var startedstatus = [[${startedstatus}]];
    function processStatusCharts() {
        var chart = new CanvasJS.Chart("chartContainer", {
            theme: "theme3",//theme1
            title:{
                text: "TASK PROCESSES CHART"
            },
            animationEnabled: true,   // change to true
            data: [
                {
                    // Change type to "bar", "area", "spline", "pie",'column'etc.
                    type: "bar",
                    dataPoints: [
                        { label: "ALL TASKS",  y: statAll },
                        { label: "TASKS IN PROCESS", y: inprocessstatus  },
                        { label: "COMPLETED STATUS TASKS", y: donestatus  },
                        { label: "STARTED STATUS TASKS",  y: startedstatus  }

                    ]
                }
            ]
        });
        chart.render();
    }

</script>
<script type="text/javascript" th:inline="javascript">

    //    var statAll = [[${statall}]];
    //    var mediumpriority = [[${mediumpriority}]];
    //    var lowpriority = [[${lowpriority}]];
    //    var highpriority = [[${highpriority}]];


    function taskPriorityChart() {
        var chart = new CanvasJS.Chart("chartContainer2", {
            theme: "theme3",//theme1
            title:{
                text: "TASK PRIORIRTIES CHART"
            },
            animationEnabled: true,   // change to true
            data: [
                {
                    // Change type to "bar", "area", "spline", "pie",'column'etc.
                    type: "area",
                    dataPoints: [
                        { label: "ALL TASKS",  y: statAll },
                        { label: "LOW PRIORITY TASKS",  y: lowpriority  },
                        {label:"HIGH PRIORITY TASKS",y:highpriority},
                        {label:"MEDIUM PRIORITY TASKS",y:mediumpriority}
                    ]
                }
            ]
        });
        chart.render();
    }

</script>
<script type="text/javascript" th:inline="javascript">

    //    var statAll = [[${statall}]];
    //    var memail = [[${memail}]];
    //    var javadevmail = [[${javadevmail}]];
    //    var teamleadmail = [[${teamleadmail}]];
    //    var pmmail = [[${pmmail}]];
    //    var testerqa = [[${testerqa}]];



    function taskEmailChart() {
        var chart = new CanvasJS.Chart("chartContainer3", {
            theme: "theme3",//theme1
            title:{
                text: "ASSIGNED TASKS BY EMAIL"
            },
            animationEnabled: true,   // change to true
            data: [
                {
                    // Change type to "bar", "area", "spline", "pie",'column'etc.
                    type: "column",
                    dataPoints: [
                        { label: "ALL TASKS",  y: statAll },
                        { label: "MY TASKS",  y: memail  },
                        {label:"JAVA DEVELOPER TASKS",y:javadevmail},
                        {label:"TEAM LEAD TASKS",y:teamleadmail},
                        {label:"PROJECT MANAGER TASKS",y:pmmail},
                        {label:"QA TESTER TASKS",y:testerqa}

                    ]
                }
            ]
        });
        chart.render();
    }

</script>
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js"></script>-->
<!--<script type="text/javascript" src="webjars/chartjs/1.0.2/Chart.min.js" ></script>-->
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js"></script>-->
<!--<script>-->
<!--var ctx = document.getElementById("c33").getContext("2d");-->
<!--var data = {-->
<!--labels: ["my tasks", "java dev tasks", "project manager tasks", "team lead tasks", "QA tester tasks"],-->
<!--datasets: [{-->
<!--label: "My First dataset",-->
<!--fillColor: "rgba(220,220,220,0.2)",-->
<!--strokeColor: "rgba(220,220,220,1)",-->
<!--pointColor: "rgba(220,220,220,1)",-->
<!--pointStrokeColor: "#fff",-->
<!--pointHighlightFill: "#fff",-->
<!--pointHighlightStroke: "rgba(220,220,220,1)",-->
<!--data: [memail,javadevmail,pmmail,teamleadmail,testerqa]-->
<!--}, {-->
<!--label: "My Second dataset",-->
<!--fillColor: "rgba(151,187,205,0.2)",-->
<!--strokeColor: "rgba(151,187,205,1)",-->
<!--pointColor: "rgba(151,187,205,1)",-->
<!--pointStrokeColor: "#fff",-->
<!--pointHighlightFill: "#fff",-->
<!--pointHighlightStroke: "rgba(151,187,205,1)",-->
<!--data: [statAll,highpriority,lowpriority,mediumpriority,donestatus]-->
<!--},-->
<!--{-->
<!--label: "My Third dataset",-->
<!--fillColor: "rgba(100,157,300,0.2)",-->
<!--strokeColor: "rgba(153,120,150,1)",-->
<!--pointColor: "rgba(153,187,205,1)",-->
<!--pointStrokeColor: "#fff",-->
<!--pointHighlightFill: "#fff",-->
<!--pointHighlightStroke: "rgba(151,187,150,1)",-->
<!--data: [inprocessstatus,startedstatus,lowpriority,highpriority,statAll]}]-->

<!--};-->

<!--var MyNewChart = new Chart(ctx).Line(data);-->
<!--</script>-->
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.4/Chart.min.js"></script>-->

<!--<script>-->
<!--var ctx = document.getElementById("radar");-->
<!--var myChart = new Chart(ctx, {-->
<!--type: 'radar',-->
<!--data: {-->
<!--labels: ["MY TASKS", "JAVA DEV TASKS", "TeAM LEAD TASKS", "PM TASKS", "QA TESTER TASKS"],-->
<!--datasets: [{-->
<!--label: 'TASKS BY MAIL',-->
<!--backgroundColor: "rgba(153,255,51,0.4)",-->
<!--borderColor: "rgba(153,255,51,1)",-->
<!--data: [memail,javadevmail,pmmail,teamleadmail,testerqa]-->
<!--}, {-->
<!--label: 'TASKS BY STATUS',-->
<!--backgroundColor: "rgba(255,153,0,0.4)",-->
<!--borderColor: "rgba(255,153,0,1)",-->
<!--data: [inprocessstatus,startedstatus,lowpriority,highpriority,statAll]-->
<!--}]-->
<!--}-->
<!--});-->
<!--</script>-->
<!--<script>-->
<!--var ctx = document.getElementById("polar").getContext('2d');-->
<!--var myChart = new Chart(ctx, {-->
<!--type: 'polarArea',-->
<!--data: {-->
<!--labels: ["ALL TASKS", "DONE TASKS", "STARTED TASKS", "IN PROCESS TASKS", "LOW PRIORITY", "HIGH", "MEDUIM"],-->
<!--datasets: [{-->
<!--backgroundColor: [-->
<!--"#2ecc71",-->
<!--"#3498db",-->
<!--"#95a5a6",-->
<!--"#9b59b6",-->
<!--"#f1c40f",-->
<!--"#e74c3c",-->
<!--"#34495e"-->
<!--],-->
<!--data: [statAll,donestatus,startedstatus,inprocessstatus,lowpriority,highpriority,mediumpriority]-->
<!--}]-->
<!--}-->
<!--});-->
<!--</script>-->

</body>
</html>
